<div ng-controller="AdminController">
<div class="admin container">
  
<div class="row well alert-info ml-10">
<label class="col-md-3 col-sm-6 col-xs-12"><b class="nolead" style="font-size:18px;">Click for Defaulters List:</b></label>
<button  class="col-md-2 col-sm-6  col-xs-12 btn btn-primary" ng-click="isDefault()"  type="button" value="See your asset details"  ><b>Defaulter List</b></button></div>
<div class="row well alert-info ml-10">
<label class="col-md-3 col-sm-6 col-xs-12"><b class="nolead" style="font-size:18px;">Click for report List:</b></label>
<button  class="col-md-2 col-sm-6  col-xs-12 btn btn-primary" ng-click="isReport()"  type="button" value="See your asset details"  ><b>System List</b></button></div>
<div class="row well alert-info ml-10">
<label class="col-md-3 col-sm-6 col-xs-12"><b class="nolead" style="font-size:18px;">Click for device List:</b></label>
<button  class="col-md-2 col-sm-6  col-xs-12 btn btn-primary" ng-click="isDevice()"  type="button" value="See your asset details"  ><b>Device List</b></button></div>
<div class="row well alert-info ml-10">
<label class="col-md-3 col-sm-6 col-xs-12 "><b class="nolead" style="font-size:18px;">Click for Empty Desks:</b></label>
<button class="col-md-2 btn btn-primary col-sm-6 col-xs-12 " ng-click="isEmptyDesk()"type="button" value="See your asset details"><b>Empty Desk</b></button>
</div>
<button class="btn btn-info btn-blue ml-10" ng-click="goback()"><span><b >Back</b></span></button>
</div>
</div>
<div >

</div>
</div>
