<div class="row">
<div class="">

  <div id="form-container">
  
      <div class="page-header text-center">
          <h2 style="color:white;">TCS DESS Asset Management System</h2>
          <a ng-show="assetInfo.logoutposition" class=" logout" style="color:white;" ui-sref="#" ng-click="main.doLogout($event)">Logout&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
          <a ng-hide="assetInfo.logoutposition" class=" logoutresloution" style="color:white;" ui-sref="#" ng-click="main.doLogout($event)">Logout&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
          <!--  <a class=" logout" style="color:white;" ui-sref="#" ng-click="main.doLogout($event)">Logout&nbsp;<span class="glyphicon glyphicon-log-out"></span></a> -->
          <!-- the links to our nested states using relative paths -->
          <!-- add the active class if the state matches our ui-sref -->
          <div id="status-buttons" class="text-center">
              <a ui-sref-active="active" ui-sref="submit.desk"><span>1</span>Select Desk </a>
              <a ui-sref-active="active" ui-sref="submit.payment" ><span>2</span> Add Assets</a>
              <a ui-sref-active="active" ui-sref="submit.click"><span>3</span> View Assets</a>
          </div>


      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
      <form name="assetForm" id="signup-form" >
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
      </form>
  
  </div>
  
  <!-- show our formData as it is being typed -->
  

</div>
</div>
